/* 11111 INDEX.CSS START */

body {
  margin: 0;
  background-color: #fafafa;
  min-width: 300px;
  padding-top: 60px;
  padding-left: 25px;
  display: flex;
  flex-wrap: wrap;
}

/* 11111 INDEX.CSS END */
